:root {
    --primary-bg-color: #E6DBCA;
    --primary-red: #B4635E;
    --primary-green: #727159;
    --primary-white: #F4F4F4;
    --primary-green-text: #393C28;
    --primary-coral: #C79381;
    --primary-hyperlink: #59150E;
}

/* :root {
    --primary-bg-color: #F8E4B7;
    --primary-red: #AA3A3A;
    --primary-green: #A4B787;
    --primary-white: #F4F4F4;
    --primary-green-text: #393C28;
    --primary-green-text-xmas: #498c4f;
    --primary-hyperlink: #59150E;
} */

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-green-text);
    font-family: "Lucida Console";
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
}

/* #header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    height: 0.8em;
    font-size: 1em;
    padding-top: 0.2em;
}

#headtext {
    color: #4e5250;
    background: #fff;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    font-style: italic;
} */

.color-red {
    color: var(--primary-red);
}

.color-green {
    color: var(--primary-green);
}

#greeting {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

@media all and (max-width: 767px) {
    #greeting {
      width: 90%; /* Overrides the desktop width on mobile */
    }
}


h3, p {
    text-align: center;
}

#program-btn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    /* background-color: var(--primary-white); */
    /* color: var(--primary-green-text); */
    background-image: linear-gradient(45deg, #b4635e 25%, #727159 25%, #727159 50%, #b4635e 50%, #b4635e 75%, #727159 75%, #727159 100%);
    color: var(--primary-white);
    cursor: pointer;
    padding: 10px;
    border-radius: 20%;
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent */
    display: none; /* Hidden by default */
    z-index: 5;
}

#program {
    width: 60%;
    text-align: center;
    margin-top: auto;
    background-color: rgba(244, 244, 244, 0.9); 
    /* background: #F4F4F4; */
    border-radius: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#program p {
    margin: 5px;
}

#closePopup {
    font-size: 36px;
    margin-top: -50px;
    box-shadow: 0 2px 5 px rgba(0, 0, 0, 0.2);
    padding: 0px 10px;
    color: var(--primary-green-text);
    background-color: #CCCCCC;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

@media all and (max-width: 767px) {
    #program {
      width: 90%; /* Overrides the desktop width on mobile */
    }
}

a {
    color: var(--primary-hyperlink);
}

.songs {
    width: 45%;
    padding: 10px;
    margin: 50px auto;
    border: none;
    border-radius: 50px;
}

@media all and (max-width: 767px) {
    .songs {
      width: 80%; /* Overrides the desktop width on mobile */
    }
}

.bc-red {
    background-color: var(--primary-red);
    color: var(--primary-white);
}

.bc-green {
    background-color: var(--primary-green);
    color: var(--primary-white);
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.year {
    font-size: 16px;
}

audio {
    margin-top: 5px;
    height: 30px;
    width: 75%;
    position: relative;
}

/* #bottom {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #F4F4F4;
    padding-top: 0.2em;
} */

#listenall, #copylink {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: var(--primary-hyperlink);
    text-decoration: underline;
    cursor: pointer;
    font-weight:bold;
    font-size: 18px;
}