body {
    background-color: #F8E4B7;
    color: #393C28;
    font-family: "Lucida Console";
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
}

/* #header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    height: 0.8em;
    font-size: 1em;
    padding-top: 0.2em;
}

#headtext {
    color: #4e5250;
    background: #fff;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    font-style: italic;
} */

.color-red {
    color: #AA3A3A;
}

.color-green {
    color: #A4B787;
}

.color-darker-green {
    color: #498c4f;
}

#greeting {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}


h3, p {
    text-align: center;
}


#program {
    width: 60%;
    text-align: center;
    margin: auto;
    background: #F4F4F4;
    padding: 5px;
    border-radius: 50px;
}


a {
    color: #59150E;
}

.songs {
    width: 45%;
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;
    border: none;
    border-radius: 50px;
}

@media all and (max-width: 767px) {
    .songs {
      width: 80%; /* Overrides the desktop width on mobile */
    }
}

.bc-red {
    background-color: #AA3A4A ;
    color: #F4F4F4; 
}

.bc-green {
    background-color: #A4B787;
    color: #393C28; 
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.year {
    font-size: 16px;
}

audio {
    margin-top: 5px;
    height: 30px;
    width: 75%;
}

#programBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

/* #bottom {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #F4F4F4;
    padding-top: 0.2em;
} */

#listenall, #copylink {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #59150E;
    text-decoration: underline;
    cursor: pointer;
    font-weight:bold;
    font-size: 16px;
}